* {
    margin: 0;
    padding: 0;
}


body {
    min-height: 300vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 18px;
}

.block {
    background-color: aquamarine;
    border: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 200px;
    text-align: center;
    font-size: 2em;

    position: static;
}


.relative {

    position: relative;
    top: 40px;
    left: 20px;
    z-index: -1;

}

.absolute {
    position: absolute;
    top: 200px;
    left: 500px;
    margin: 0;


}

.fixed {

    position: fixed;
    top: 300px;
    left: 400px;
    background-color: blueviolet;
    color: white;
}

.stiky {
    position: sticky;
    top: 0;
    background-color: bisque;
    transform: translateX(350px);

}