html {
    background-color: #494949;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(93, 98, 98);
    margin: 0 auto;
    width: 60%;
    font-size: 1.4em;
    padding: 30px;
    
   

}

h1 {
    text-align: center;
    color: yellow;
}


nav {
    display: flex;
    padding: 3px;

}


nav>a {
    padding: 2px 2em;
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 5px;

}