* {
    margin: 0;
    padding: 0;
}


body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    /* font-size: 18px; */
    padding: 2em;
}


table {
    margin-left: 50px;
    /* width: 700px; */
    /* отстпы*/
    border-collapse: collapse;
    /* border-collapse: separate; */
    /* border-spacing: 3px; */
    /* border: 1px solid black; */
    /* empty-cells: hide; */
    /* padding: 10px; */


}

caption {

    text-align: right;
}

td,
th {
    /* border: 1px solid black; */
    padding: 10px;

}

col:nth-child(1) {
    background-color: rgb(182, 179, 179);


}

col:nth-child(2) {
    background-color: rgb(1, 129, 250);
}

col:nth-child(3) {
    background-color: rgb(2, 240, 22);
}

col:nth-child(4) {
    background-color: rgb(182, 194, 19);
   
}

col:nth-child(5) {
    background-color: rgb(248, 5, 5);
    
}



.price {
font-size: 1.1em;
}


thead {
    text-align: center;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    /* font-size: 18px; */

}

tbody {

    color: rgb(95, 95, 95);
     text-align: left;
    
}

tfoot {
    border-top: 1px solid white;
    text-align: center;
}




.plus, .minus {
 border-radius: 50%;
 border: 2px solid white;
 line-height: 30px;
 aspect-ratio: 1;
 width: 30px;
 margin: auto;
 text-align: center;
 
}

.price tr td:not(:first-child) {
color: white;
}

.price col:not(:first-child) {
width: 130px;
}

