body {
    font: optional;
  background-color: grey;
  margin: 0 ;
  padding: 0;
  /* width: 100%; */
}




h1,
h3 {
  text-align: center;
}

.food {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.item {
  background-color: lightslategrey;
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  width: 140px;
}
.item p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

hr {
  border: 2px solid rgb(184, 175, 175);
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.link a {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightslategrey;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20%;
  margin-right: 20%;
}

.link a:hover {
  background-color: rgb(95, 144, 194);
}

.side-menu {
  margin-left: 100px;
  background-color: rgb(158, 54, 54);
  width: 300px;
}

.side-menu ul {
  padding: 0;
  margin: 0;
}

.side-menu img {
  width: 82px;
  height: 82px;
  vertical-align: middle;
  margin-right: 10px;
}

.side-menu li {
  list-style: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.side-menu li:hover {
  background-color: rgb(240, 27, 27);
  cursor: pointer;
}

.side-menu a {
  text-decoration: none;
  color: black;
}
