* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 18px;
}

/* !important - важно */
.container {
    padding: 1em !important;
    width: 90%;
    min-width: 320px;

    margin: 1em auto 0 auto;
    box-shadow: 0px 0px 5px gray;
}

.ex-1 button {
    background-color: rgb(109, 137, 137);
    color: bisque;
    outline: none;
    border: 1px solid rgba(134, 221, 3, 0.394);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s box-shadow ease 0ms;
}

.ex-1 button:hover {
    background-color: brown;
    box-shadow: 1px 3px 4px green;
}

.ex-1 button:active {
    font-size: 20px;
    background-color: rgb(107, 107, 89);
    box-shadow: 5px 4px 2px red;
    width: 100px;
    height: 50px;

}


.ex-2 {
    display: flex;
    gap: 10px;
}

.ex-2 .block {
    text-align: center;
    flex: 1;
    padding: 1em 0;
    position: relative;
    overflow: hidden;

}

.ex-2 .block:first-child {
    background-color: rgb(17, 239, 239);
}

.ex-2 .block:last-child {
    background-color: rgb(62, 90, 90);
}

.ex-2 .block::after {
    content: "Текст";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    transition: 0.5s ease;
}

.ex-2 .block:hover::after {

    height: 0;
}

.ex-3 {
    display: flex;
    gap: 10px;
}

.ex-3 .block {
    text-align: center;
    flex: 1;
    padding: 1em 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.ex-3 .block:first-child {
    background-color: rgb(222, 6, 197);

}


.ex-3 .block:last-child {
    background-color: rgb(86, 219, 8);
}

.ex-3 .block::after {
    content: "Нажми, чтобы увидеть!";
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    background-color: rgb(26, 224, 168);
    transition: 0.9s ease;
}

.ex-3 .block:hover::after {

    height: 0;
    width: 0;
}

.ex-3 .block:active::after {

    background-color: rgb(226, 7, 7);
    width: 15px;
    height: 10px;

}

.ex-4 .block {
    width: 100px;
    aspect-ratio: 1;
    border-width: 3px;
    border-style: solid;
    border-top-color: blueviolet;
    border-left-color: azure;
    border-bottom-color: aqua;
    border-right-color: rgb(194, 8, 8);
    transition: 0.3s;
}

.ex-4 .block:hover {
    transform-origin: 100% 0% 0;
    transform: rotate(90deg);
    /* transform: translate(50px, 10px); */
    /* transform: scale(2, 1.5); */


}


.ex-5 {
overflow: hidden;
}

.ex-5 .callback {
    
    background-color: gray;
    height: 200px;
    width: 250px;
    color: white;
    padding: 10px;
    margin: 10px;
    position: relative;
    transform: translateX(calc(-100% - 1em - 10px));
}

.ex-5 .callback:hover{
      transform: translateX(calc(-1em - 10px));

}
.ex-5 .callback::after {
    content: "Обратная связь";
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    text-align: center;

    transform-origin: 100% 0%;
    transform: rotate(-90deg);
}

