* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4c4c4c;
  font-family: Arial, sans-serif;
}

.container {
  width: 100vw;
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  padding: 3em ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #003300;
}

.breadcrumbs, a{
  font-size: 18px;
  color: gray;
  margin-bottom: 1em;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
  box-shadow: inset 0 -2px 0 0 gray;
}

main {
    padding-top: 0.8em;
}

.heading>p {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    line-height: 1.6;
}

footer {
    padding-top: 3em;
}

.footer-content {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 30px;
    row-gap: 20px;
}

.footer-content>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    grid-row: 1 / 3;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-title {
    color: #8b9a9e;
    font-size: 12px;
    font-weight: normal;
}

.card-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Медиазапрос для экранов шире 600px */
@media (min-width: 600px) {
    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
    
    .footer-content>img {
        grid-row: auto;
        flex-shrink: 0;
    }
}