* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    min-height: 100vh;
    background-color: rgb(224, 224, 224);
}

header {
    display: flex;
    align-items: center;
    /*выравнивание по второстепенной оси*/
    justify-content: space-between;
    background-color: #43b02a;
    color: white;
    font-size: 1.2em;
    position: sticky;
    top: 0;

}

.logo {
    display: flex;
    /*распологает по горизонту*/
    align-items: center;
    /*гарантиует элементы по центру*/
    gap: 10px;
    /*между ними расстояние*/
    padding: 10px;
}

nav {
    display: flex;
    gap: 1em;
    padding: 0 10px;
}

nav>a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

nav>a:hover {
    border-bottom-color: white;
    text-shadow: 0px -1px 1px rgb(255, 255, 255 0.3);
}


.wrapper {
    background-image: url(images/top-header.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    display: flex;
    height: 600px;
}

.wrapper>h1 {

    margin: auto;
    font-size: 2.8em;
    text-shadow: 1px 1px 5px white;
}

main {
    margin: 0 2em;
    transform: translateY(-2em);
    /* margin-top: -2em; */
    background-color: white;
    padding: 3em 3em 1em 3em;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0 0.5);
    font-size: 1.4em;
}

footer>p {

    text-align: center;
    width: 40%;
    border-top: 1px solid gray;
    padding-top: 1em;
    font-size: 1em;
    margin: auto;

}

main>section>h1 {
    color: #43b02a;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 1em;

}

main>section>p {
    margin: 1em 0;
}

section {
    margin-bottom: 2em;
}


.line {

    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
}

.card {
    position: relative;
    flex: 1;
    color: white;
    background-color: rgb(86, 86, 86);
    border-radius: 15px;
    padding: 16px;


}



.card p {

    font-size: 16px;
    margin: 13px;
}

.card>.row {

    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}

.row>h3 {
    margin: auto;
}




.category,
.category-back {
    text-align: center;
    align-content: center;
    position: absolute;
    top: 7px;
    left: -20px;
    width: 50px;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    color: gray;
    z-index: 1;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);

}


.category-back {
    transform: scale(1.2);
    transform-origin: 0 0;
    background-color: aqua;
    z-index: 0;


}


.card-2 {
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(94, 92, 92, 1);
    padding: 1em;
    /* padding-bottom: 80px; */
    text-align: center;
}

.sim {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}


.card-2>p {

    text-align: center;
    padding-top: 1.5em;

}

.name {

    font-weight: bold;
    font-size: 25px;
    margin: 1em;
}

img {
    border-radius: 50%;
    aspect-ratio: 1;
    /* transform: translateX(50%); */
    margin-bottom: -100px;
    box-shadow: 2px 3px 5px rgba(94, 92, 92, 1);



}

img:hover {


    box-shadow: 2px 3px 10px rgb(70, 68, 68, 1);
}