* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

.container {
    background-color: rgba(248, 106, 54, 0.755);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.login {
    margin: 2rem 0;
    display: flex;
    flex-flow: column;
    gap: 1rem;

}

form {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-flow: column;
    gap: 2rem;
    text-align: center;
    padding: 2rem;
    min-width: 340px;
    font-size: 1.4em;

}

input {
    border: none;
    outline: none;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    background-color: rgb(255, 255, 255);

}

input:focus {
    box-shadow: 0px 0px 5px black;
}

input[type=submit] {
    background-color: green;
    color: white;
    border-bottom: 4px solid rgb(0, 86, 0);
}

input[type=submit]:active {
    background-color: rgb(0, 86, 0);
}

.login>p {
    color: white;
    text-align: center;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btns>button {
    flex-grow: 1;
    font-size: 1rem;

}

form,
.btns>button {
    box-shadow: 0px 0px 10px rgb(0, 0, 0 0.464);
}