* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: grey;
}

h1,
h3 {
  text-align: center;
}

.food {
  justify-content: center;
  width: 55%;
  margin-top: 30px;
}

.item {
  background-color: lightslategrey;
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}
.item p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.item:hover {
  background-color: rgb(95, 144, 194);
  box-shadow: 2px 3px 40px rgb(95, 144, 194);
}

hr {
  border: 1px solid rgb(184, 175, 175);
  margin: 20px 30px 20px 30px;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

/*.foot {
display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  
}*/

.link a {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightslategrey;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20%;
  margin-right: 20%;
}

.link a:hover {
  background-color: rgb(95, 144, 194);
}

.side-menu {
  margin-left: 100px;
  background-color: rgb(158, 54, 54);
  width: 300px;
}

.side-menu ul {
  padding: 0;
  margin: 0;
}

.side-menu img {
  width: 82px;
  height: 82px;
  vertical-align: middle;
  margin-right: 10px;
}

.side-menu li {
  list-style: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.side-menu li:hover {
  background-color: rgb(240, 27, 27);
  cursor: pointer;
}

.side-menu a {
  text-decoration: none;
  color: black;
}

.header,
.menu,
.footer,
.container {
  width: 90% !important;
  min-width: 320px;
  margin: 1em auto 0 auto;
}

.header {
  background-color: red;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
}

.menu,
.footer {
  background-color: #800020;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}

.container {
  display: flex;
  gap: 10px;
}

.aside {
  width: 30%;
}

.aside div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.aside1 {
  background-color: green;
  height: 100px;
  position: relative;
}

.aside1 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.aside2 {
  background-color: yellow;
  height: 150px;
  position: relative;
}

.aside2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.main-content {
  width: 60%;
  height: 500px;
  background-color: orange;
  padding: 30px;
  font-weight: bold;
  font-size: 22px;
}

.main-content span {
  margin-left: 25px;
}

.section {
  background-color: yellow;
  margin: 30px;
  height: 70px;
  position: relative;
}
.section span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.aside3 {
  background-color: gold;
  width: 10%;
  height: 250px;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside3 span {
  writing-mode: vertical-lr; /* Направление текста сверху вниз и слева направо */
  text-align: center;
}

.foot {
  background-color: #40e0d0;
  width: 70%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.foot p {
  color: white;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.fb,
.insta,
.youtube {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.fb {
  background-image: url("styles/images/fb_gray.png");
}

.insta {
  background-image: url("path/to/image2.jpg");
}

.youtube {
  background-image: url("path/to/image3.jpg");
}
