* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

.container {
    min-height: 100vh;
    width: 100vw;
    min-width: 320px;
    display: flex;
    flex-direction: column;

}

.main-nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    /* padding: 1vw; */
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    height: 8vh;
    align-items: center;
    padding: 1vw 2vw;
}

.main-nav>.mobile-toggle {
    display: none;
}

.main-nav>nav>div>a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid transparent;
    color: blue;
}

.main-nav>nav>div>a:hover {
    color: gray;
    border-bottom-color: gray;
}

.main-nav>nav>div {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

/* .main-nav>nav {
    
} */

@media screen and (max-width: 760px) {

    .main-nav {
    justify-content: flex-end;
    }

    .main-nav>nav {
    order: -1;
    width: 0;
    }

    .main-nav>nav>div {
        position: absolute;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        background-color: #FFF;
        top: 0; 
        left: 0;
        transform: translateY(8vh);
        height: 0;
        overflow: hidden;

    }




    .main-nav>.mobile-toggle {
        display: flex;
        height: 100%;
        aspect-ratio: 1;
        border-width: 4px;
        flex-direction: column;
        justify-content: space-around;
        /* margin-left: auto; */
        order: 1;


    }

    .main-nav>.mobile-toggle>div {
        height: 100%;
        height: 5px;
        background-color: black;

    }

}

header {
     display: block;
    background-color: blueviolet;
    height: 14vw;
    text-decoration: none;
    
    
}