* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: aquamarine;
    /* width: 80%; */
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 10vh auto;
    padding: 2em;
    max-width: 1000px;
}
form{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}
section {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.title {
    width: 100px;
}

input,
select,
textarea {
    flex: 1 0 auto;
}